.productCard .textPart {
  transition: transform 0.2s ease-out;
}
.productCard:hover .textPart {
  transform: translateY(-1rem);
}
.productCard:hover {
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
