body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background-color: aqua;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Tilt Neon', cursive;
}

.container {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

.add-task {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 5px;
}

.delete-button {
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}


select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.completed {
    text-decoration: line-through;
    color: #777;
}

.filter-sort-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

 @media (max-width: 768px) { /*media queries for different devices */
    .container {
        max-width: 90%;
    }
}
 button:hover {
     color: aqua;
 }