@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}
* {
  font-family: "Roboto", sans-serif;
}
.slick-list {
  height: 100%;
}
